/* new class that hides the fill - transparent */
.invisibleClass {
  opacity: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}


/* same class as above :hover less transparent opacity: 0.2 */

.invisibleClass:hover {
  opacity:0.6;
}

.selectedClass {
  opacity: 0.9;
}

.correctClass {
  opacity: 0.9;
}

.one {
  width: 100%;
  height: 400px;
  float: left;
  padding-top: 00px;
}

.two {
  margin-left: 75%;
  height: 200px;
}

.adx {
  width:100%;
  width:max-content;
}

/* Button Classes */

.button-white {
  background-color: white;
}
